header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid grey;
    z-index: 1;
}

.logo-ByP-header {
    width: 33vw;
    max-width: 150px;
}

.icon-menu-header-container {
    display: grid;
    place-content: center;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
}

.icon-menu-header {
    font-size: 2em;
}

.menu-items-container {
    position: absolute;
    top: 10vh;
    right: 0;
    background-color: black;
    height: 90vh;
    opacity: .9;
    transition: width 800ms ease;
    overflow: none;
}

.list-items {
    padding: 2em;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2em;
}

.menu-item {
    cursor: pointer;
    font-size: 1.5em;
    align-self: flex-start;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:active {
    color: goldenrod
}

@media only screen and (min-width: 992px) {
    
    .logo-ByP-header {
        width: 12vw;
    }
    
    .icon-menu-header-container {
        display: none;
    }
    
    .menu-items-container {
        position: static;
        display: flex;
        justify-content: end;
        align-items: center;
        height: 10vh;
        margin-right: 1.5rem;
    }

    .list-items {
        flex-direction: row;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
}