*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-margin-top-header {
    margin-top: 10vh;
}

.noMostrar {
    display: none;
}


.container-asedio, .container-inicio {
    background-image: url(./assets/Caballero-Fondo1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 90vh;
    padding: 2rem 0;
}

.container-info-inicio h1 {
    font-family: 'New Rocker', cursive;
    color: gold;
}

.container-info-inicio {
    width: 95vw;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 4rem;
}

.container-info-asedio {
    width: 95vw;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 5rem;
}

.logo-ayto {
    width: 70%;
    max-width: 300px;
}

.logo-asedio {
    width: 70%;
    max-width: 400px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
    margin-bottom: 2rem;
}

.inscribete {
    text-decoration: none;
    color: gold;
    font-family: 'New Rocker', cursive;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.inscribete:hover {
    color: gold;
}

.container-4millas {
    background-color: white;
    width: 100vw;
    min-height: 90vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4rem;
}

/* CountDownTimer */

.show-counter {
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    text-align: center;
  }
  
  .show-counter .inscribete {
      flex: 0 0 100%;
  }
  
  .show-counter .countDown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .countDown p, p {
      line-height: 2rem;
      font-size: 2rem;
      font-weight: 700;
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-asedio, .container-inicio {
        background-image: url(./assets/Caballero-Fondo.jpg);
    }

    .container-info-inicio {
        width: 80vw;
    }

    .container-info-asedio {
        width: 80vw;
    }

    .logo-asedio {
        margin-bottom: 4rem;
    }

    .container-info-inicio .inscribete {
        font-size: 2.5rem;
    }

    .inscribete {
        font-size: 2.5rem;
    }

    .container-4millas {
        width: 50vw;
        margin: 0 auto;
    }

    .containerRRSS {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .containerRRSS h1 {
        font-size: 2rem;
        margin-right: 2rem;
    }

    .containerRRSS a {
        font-size: 1.3rem;
        margin-right: 2rem;
    }

    .countDown p {
        line-height: 5rem;
        font-size: 5rem;
        font-weight: 600;
    }

    .countDown ~ p  {
        line-height: 5rem;
        font-size: 5rem;
    }

}
