*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-margin-top-header {
    margin-top: 10vh;
}

.noMostrar {
    display: none;
}

.container-info {
    background-image: url(./assets/Caballero-Fondo1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.container-info-center {
    background-image: url(./assets/Caballero-Fondo1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.logo-ayto{
    width: 70%;
}

.logo-asedio {
    width: 70%;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2)); 
}

.inscribete {
    text-decoration: none;
    color: white;
    font-family: 'New Rocker', cursive;
    font-size: 2.5rem;
    text-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    animation: scaleText 1s ease infinite;
}

@keyframes scaleText {
    0% {
        font-size: 2.5rem;
        color: gold;
    }
    100% {
        font-size: 2.6rem;
        color: goldenrod;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-info {
        background-image: url(./assets/Caballero-Fondo.jpg);
        background-color: black;
        background-size: cover;
        justify-content: space-around;
        row-gap: 6rem;
        width: 100vw;
        height: 100vh;
    }

    .container-info-center {
        background-image: url(./assets/Caballero-Fondo.jpg);
        background-color: black;
        background-size: cover;
        justify-content: center;
        row-gap: 6rem;
        width: 100vw;
        height: 100vh;
    }

    .logo-ayto {
        width: 30%;
    }

    .logo-asedio {
        width: 50%;
    }

    .inscribete {
        font-size: 4rem;
    }

    @keyframes scaleText {
        0% {
            font-size: 4rem;
            color: gold;
        }
        100% {
            font-size: 4.2rem;
            color: goldenrod;
        }
    }
}