* {
    padding: 0;
    margin: 0;
}

.container {
    background-image: url(./assets/Caballero-Fondo1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.logo-ayto{
    align-self: start;
    width: 70vw;
    margin-top: 30px;
}

.logo-asedio {
    align-self: center;
    width: 80%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.inscribete {
    text-decoration: none;
    color: white;
    font-family: 'New Rocker', cursive;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    animation: scaleText 1s ease-in-out infinite 100ms;
}

.inscribete:hover {
    color: white !important;
    text-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@keyframes scaleText {
    0% {
        font-size: 2.2rem;
    }
    100% {
        font-size: 2.5rem;
    }
}