.patrocinadores-container {
    width: 80%;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.patrocinadores-container img {
    width: 30%;
    height: 30%;
}

@media only screen and (min-width: 992px) {
    .patrocinadores-container {
        width: 50%;
        flex-wrap: nowrap;
        gap: 50px;
    }

    .patrocinadores-container img {
        width: 40%;
        height: 40%;
    }
}